/*body,html{margin:0px}
body{width:96%;padding-left:2%;padding-right:2%}
body,input,select,label{font-size:5vw}
h3{font-size:7vw}
input,select{width:80%}
input[type=checkbox]{width:5%;zoom:1.5}
form{background-color:aliceblue;padding:1%}*/


body,html{margin:2px}
body{width:75%;padding-left:15%;padding-right:15%;background-color:darkblue;}
body,input,select,label{font-size:6vw}
select,label,input{color:brown; background-color:lightblue;}
option{font-size:5vw}
body{background-color:white;}
h2{font-size:9vw;color:#ffcc00;text-align:center;text-shadow: 2px 2px 4px #000000;}
h3{font-size:6.5vw; color:black;}
input{width:70%}
select{width:90%}
input[type=checkbox]{width:5%}
input[type=radio]{width:5%}
form{padding:4%}
#myform{left:23%;background-color:lightblue;border-style:ridge;border-width:4px;border-style: outset; 
  border-radius: 25px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
input[type=submit]{position:center}
#resultadosDiv{left:10%;position:relative;font-size:3.5vw;color:cornsilk;margin-top:20%;letter-spacing:7%}
#boton{position:relative;left:10%;bottom:96%;width:80%;margin-top:20%;margin-bottom:5%;text-align:center;}
#mul1{font-size:4vw}

/*
#000099 en lugar de white, color del texto del select, label e input a marrón, el color de los títulos es negro
body,html{margin:0px}
body{width:70%;padding-left:15%;padding-right:15%}
body,input,select,label{font-size:2vw}
select,label,input{color:brown; background-color:lightblue}
body{background-color:white}
h2{font-size:5vw;color:#ffcc00;text-align:center;text-shadow: 2px 2px 4px #000000}
h3{font-size:2.5vw; color:black}
input,select{width:50%}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}
form{padding:3%}
#myform{background-color:lightblue;margin-bottom:2%;border-style:ridge;border-width:2px;border-style: outset;
   border-radius: 25px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
input[type=submit]{position:center}
#resultadosDiv{width:inherit;display:none;position:absolute;font-size:2.5vw;
   color:black;margin-top:15%;letter-spacing:5%}
#boton{position:relative;left:10%;bottom:96%;width:80%;margin-top:20%;margin-bottom:5%;text-align:center}*/
