body,html{margin-left:2px}
body{width:75%;padding-left:15%;padding-right:15%;background-color:darkblue;}
body,input,select,label{font-size:6vw}
select,label,input{color:brown; background-color:lightblue;}
option{font-size:5vw}
body{background-color:white;}
h2{font-size:9vw;color:#ffcc00;text-align:center;text-shadow: 2px 2px 4px #000000;}
h3{font-size:6.5vw; color:black;}
input{width:70%}
select{width:90%}
input[type=checkbox]{width:5%}
input[type=radio]{width:5%}
form{padding:8%}
#myform{left:15%;background-color:lightblue;border-style:ridge;border-width:4px;border-style: outset; 
  border-radius: 25px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
input[type=submit]{position:center}
#resultadosDiv{left:10%;position:relative;font-size:3.5vw;color:cornsilk;margin-top:20%;letter-spacing:7%}
#boton{position:relative;left:10%;bottom:96%;width:80%;margin-top:20%;margin-bottom:5%;text-align:center;}
#mul1{font-size:4vw}
