/*body,html{margin:0px}
body{width:96%;padding-left:2%;padding-right:2%}
body,input,select,label{font-size:5vw}
h3{font-size:7vw}
input,select{width:80%}
input[type=checkbox]{width:5%;zoom:1.5}
form{background-color:aliceblue;padding:1%}*/


body,html{margin:0px}
body{width:75%;padding-left:15%;padding-right:15%;background-color:darkblue;}
body,input,select,label{font-size:5vw}
select,label,input{color:white; background-color:darkblue;}
option{font-size:4.5vw}
body{background-color: #000099;}
h2{font-size:7vw;color:#ffcc00;text-align:center;}
h3{font-size:6vw; color:coral;}
input{width:70%}
select{width:90%}
input[type=checkbox]{width:5%}
input[type=radio]{width:5%}
form{padding:4%}
#myform{left:25%;background-color:darkblue;border-style:ridge;border-width:4px;}
input[type=submit]{position:center}
#resultadosDiv{left:10%;position:relative;font-size:3.5vw;color:cornsilk;margin-top:20%;letter-spacing:7%}
#boton{position:relative;left:10%;bottom:96%;width:80%;margin-top:20%;margin-bottom:5%;text-align:center;}
#mul1{font-size:4vw}

